.myMainContainer {
	color: #FFFFFF;
	margin-top: 50px;
	margin-bottom: 75px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.myTopContainer {
	padding: 0;
	display: flex;
	justify-content: space-between;
}
