.cartItem {
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    align-items: center;
    width: 820px;
    margin-bottom: 30px;
}

.cartItemPhoto {
    max-width: 143px;
    max-height: 100px;
    object-fit: cover;
    overflow: hidden;
}

.photoAndInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.cartItemInfo {
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 30px;
}

.class1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 483px;
    flex-wrap: wrap;
}

.cartItemBtns {
    display: flex;
    flex-direction: column;
    background-color: green;
}


.cartItemQuantityBtns {
    display: flex;
    justify-content: space-around;
    max-width: 146px;
    background-color: #0F1011;
    align-items: center;
    margin-bottom: 6px;
}

.cartitemQuantity {
    margin: 13px 20px;
}

.cartItemDeleteBtns {
    display: flex;
    justify-content: space-between;
    max-width: 146px;
}

.cartItemReload {
    background-color: #0F1011;
    padding: 13px 11px;
}

.cartItemDelete {
    background-color: #0F1011;
    padding: 13px 11px;
}
