.collectionCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0) !important;
}

.collectionButton {
	background-color: #0d0202 !important;
	color: #f0e4e4 !important;
	border: 1px solid #090202 !important;
	font-weight: bold;
    max-width: 50px;
}

.collectionButton:hover {
	background-color: #8583835d !important;
	color: #110202 !important;
	border: 1px solid #010000;
}
